@import "tailwindcss";

@layer base {
  body {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-left {
    animation: spin-left 3s linear infinite;
  }

  @keyframes spin-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
